<footer class="page-footer light-green">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Us</h5>
        <p class="white-text text-lighten-4">I moved to a new city and I knew absolutely no one. My best friends became my two Yorkie's, Cookie and Cupcake. I decided that they're probably more people that are just like me. I love dogs and every one deserves one as their pal.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
   <div class="container">
    Made by The PawPals Family!
  </div>
</footer>
